<div class="row row-cols-1 row-cols-md-4 g-4">
    {% for product in productlist %}
    <div class="col">
        <div class="card text-center h-100" style="width: 15rem;">
          <div class="card-title"><h5>{{ product.name }}</h5></div>
          <img  src="{{ product.photolocation }}" height="280px" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title" style="display: flex; align-items: flex-end;">Price: {{ product.price }}</h5>
          </div>
          <div class="card-footer text-muted">
            2 days ago
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
